*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #a0845c;
    color: black;
}

.title{
  display: flex;
  justify-content: left;
  top: 0;
  font-size: 4em;
  color: orange;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.action {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  width: 70vw;
  top: 70px;
  z-index: 2;
}

.isi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding : 1em;
}

.options, .refresh, .komputer {
  margin: 2rem;
  width: 8vw;
}

.choiceBorder {
  border: 0px solid white;
  background-color: rgb(200,196,196);
  border-radius: 15px;
  width: 8vw;
  padding: 15px;
  cursor: default;
}

.draw {
  border: 0px solid white;
  background-color: rgb(8,92,12);
  transform: rotate(-30deg);
  color: white;
  font-size: 30px;
  padding: 50px;
  width: 9em;
  text-align: center;
  border-radius: 15px;
}

.comWin{
  border: 0px solid white;
  background-color: rgb(80,148,84);
  transform: rotate(-30deg);
  color: white;
  font-size: 30px;
  padding: 30px;
  width: 9em;
  text-align: center;
  border-radius: 15px;
}

.playerWin {
  border: 0px solid white;
  background-color: rgb(80,148,84);
  transform: rotate(-30deg);
  color: white;
  font-size: 30px;
  padding: 50px;
  width: 9em;
  text-align: center;
  border-radius: 15px;
}

.midText {
  color: red; 
  font-size: 10em;
}